<div class="page-wrapper">
    <!-- <div class="main-wrapper" > -->
           <div style="display: flex; gap: 10px;flex-wrap: wrap;" class="main-container">
            <div style="width: 26vw; height: 60vh; border: 4px solid blue;"></div>     
            <div style="width: 26vw; height: 60vh; border: 4px solid blue;"></div>     
            <div style="width: 26vw; height: 60vh; border: 4px solid blue;"></div>     
            <div style="width: 26vw; height: 60vh; border: 4px solid blue;"></div>     
            <div style="width: 26vw; height: 60vh; border: 4px solid blue;"></div>     
            <div style="width: 26vw; height: 60vh; border: 4px solid blue;"></div>     
            <div style="width: 26vw; height: 60vh; border: 4px solid blue;"></div>     
            <div style="width: 26vw; height: 60vh; border: 4px solid blue;"></div>     
            <div style="width: 26vw; height: 60vh; border: 4px solid blue;"></div>     
           </div>
     <!-- </div>  -->
</div>