

<!-- main container  -->
<div class="welcome-wrapper">
  <!-- welcome box  -->
    <div class="welcome-box"> 
        <h2> Frontend Developer</h2>
        <h1 class="name">Krishna Karmyal</h1>
        <h4>I build web applications</h4>
    </div>
  <!-- welcome box  -->
    <div class="welcome-box">
        <div class="face">
            <div class="eyes">
                <div class="eye"></div>
                <div class="eye"></div>
            </div>
        </div>
    </div>
  <!-- welcome box  -->
    <div class="welcome-box explorer-info"> <p> Use the explorer to know more</p></div>


     <div class="social-box">
        <div class="social-buttons">
            <a href="#" class="social-button social-button--linkedin" aria-label="LinkedIn">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#" class="social-button social-button--github" aria-label="GitHub">
              <i class="fab fa-github"></i>
            </a>
          </div>
          
     </div>
</div>  