<!-- <div class="sidebar" id="sidebar" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)"> -->

<div class="sidebar" id="sidebar" >
        <div class="sidebar-left" (click)="closeSidebar()" style="color: blueviolet;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sed incidunt tempore, dolor, impedit culpa non ex hic quis laborum dolorem sit perferendis. Ratione mollitia deleniti inventore accusamus laboriosam consequatur.
        </div>
    <div style="color: aliceblue;" class="sidebar-right" id="sidebar-right" >
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi harum enim voluptate, sequi aperiam doloribus facilis molestias vel culpa architecto corporis dolor labore temporibus aspernatur nisi. Veniam similique itaque perspiciatis, perferendis nulla nostrum. Architecto provident magni eos unde! Facere tempore quo consequuntur ea quia! Distinctio quisquam aspernatur dolore alias. Fugit quisquam temporibus obcaecati, laboriosam, necessitatibus reprehenderit consectetur saepe quae at voluptatem eum vel voluptas amet, libero vitae eius soluta? Iusto cupiditate saepe sint quibusdam aut rem exercitationem tempora natus neque, eius non, incidunt repudiandae accusamus quos molestiae adipisci et commodi fugiat totam? Ratione dolorum atque corporis veritatis eaque aliquid commodi.
    </div>
</div>
