/*============================

1. General
2. Sidebar
3. Titlebar
4. Title Tabs
5. Main
6. Responsive
========================================*/

/*-----------------
	1. General
-----------------------*/

@font-face {
	font-family: 'Droid Sans Mono';
	src: url('https://fonts.googleapis.com/css2?family=Droid+Sans+Mono');
	font-weight: normal;
	font-style: normal;
}


html {
	height: 100%;
}

body {
	font-family: 'Segoe WPC', 'Segoe UI', sans-serif;
	font-size: .9375rem;
	background-color: #1f1f1f;
	min-height: 100%;
	overflow-x: hidden;
	margin: 0;

}

a {

	text-decoration: none;
}
/*-----------------
	2. Sidebar
-----------------------*/
.sidebar {
	background-color: rgb(24, 24, 24);
	;
	border-right: 0.5px solid #2b2b2b;
	bottom: 0;
	left: 0;
	margin-top: 0;
	position: fixed;
	top: 30px;
	transition: all 0.2s ease-in-out 0s;
	width: 215px;
	z-index: 1001;
	overflow: hidden;
}

.sidebar.opened {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}



.sidebar-menu span {
	padding-bottom: 10px;
}

.menu-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

svg:hover {
	fill: white;
}

.menu-active {
	border-left: 2px solid #0078d4;
	
}

.menu-container{
	padding: 5px;
}

.menu-active svg{
	fill: #d7d7d7;
}

.mini-sidebar {
	width: 45px;
}

.mini-sidebar.expand-menu .sidebar {
	width: 215px;
}

.mini-sidebar.expand-menu {
	width: 215x;
}

.sidebar-left {
	width: 45px;
	// top: 0;
	// bottom: 0;
	// position: fixed;
	border-right: 1px solid #2b2b2b;

	height: 100%;
    position: fixed;
}

.sidebar-left span {
	padding-bottom: 20px;
}


.sidebar-right {
	width: 170px;
	margin-left: 45px;
	top: 0;
	bottom: 0;
	position:absolute;
	border-right: 1px solid #2b2b2b;
}


.sidebar-overlay {
	display: none;
	position: fixed;
	height: 100%;
	left: 0;
	// top: 45px;
	width: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.6);
}

.sidebar-overlay.opened {
	display: block;
}

.menu-bottom {
    position: fixed;
    bottom: 0;
    margin-bottom: 25px;
    background-color: #181818;
}

.sidebar-left-container {
    display: flex;
    flex-direction: column;
	height: 100%;
}

.menu-top {
    justify-content: flex-start;
    flex: 1;
}

.menu-top {
    // min-height: 60vh;
}

/*-----------------
3. Titlebar
------------------------*/


.titlebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 30px;
	border-bottom: 1px solid #2b2b2b;
	width: 100%;
	display: flex;
	z-index: 9999;
	background-color: #1f1f1f;
}

.titlebar-left {
	width: 30%;
	display: flex;
	align-items: center;
	padding-left: 5px;
	overflow: hidden;
}

.titlebar-left img {
	height: 20px;
	width: 20px;
}

.mobile-menu {
	display: none;
	color: #d7d7d7;
}

.titlebar-options {
	display: flex;
	gap: 10px;
	color: rgb(134, 134, 134);
	font-size: small;
	padding-left: 20px;
}

.titlebar-options span:hover {
	color: #d7d7d7;
	cursor: not-allowed;
}

.titlebar-right {
	width: 30%;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	color: rgb(134, 134, 134);
	gap: 30px;
	padding-right: 20px;
	cursor: not-allowed;
}

.titlebar-center {
	width: 40%;
	display: flex;
	align-items: center;
}

.search-bar {
	display: flex;
	// align-items: center;
	justify-content: center;
	color: rgb(134, 134, 134);
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid #474747;
	overflow: hidden;
	border-radius: 6px;
	height: 20px;
	width: 80%;
}

.search-bar p {
	font-size: smaller;
}

.search-bar svg {
	width: 15px;
	height: 15px;
	margin-right: 4px;
}

.search-container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	align-items: center;
}


/*-----------------
4. Title Tabs
------------------------*/

.titletabs-container {
	// margin-top: 30px;
	color: white;
	height: 35px;
	// border-bottom: 0.5px solid #2b2b2b;
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 9;
}

.tabs {
	border-bottom: 0.5px solid #2b2b2b;
	height: 65%;
	background-color: rgb(24, 24, 24);
	padding-right: 30px;
}

.bread-crumbs {
	font-size: medium;
	background-color: #1f1f1f;
	padding-left: 20px;
    display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.bread-crumbs span{
	padding: 0 5px;
}


/*-----------------
5. Main
------------------------*/

.main-wrapper {
	height: 100%;
	// position: fixed;
	overflow: auto;
	// width: 100%;
	color: #fff;
}


.page-wrapper {
	left: 0;
	margin-left: 215px;
	padding-top: 30px;
	position: relative;
	transition: all 0.2s ease-in-out;
}

.main-container{
	padding: 80px 30px 30px 30px;
}


/*-----------------
6. Responsive
------------------------*/

@media only screen and (min-width: 991px) {
	.sidebar-open .page-wrapper {
		margin-left: 45px;
	}

}


@media screen and (min-width: 767px) {
	.sidebar-open .page-wrapper {
		margin-left: 45px;
	}

}

@media screen and (max-width: 767px) {
	.sidebar-open .page-wrapper {
		margin-left: 45px;

	}

	.page-wrapper {
		margin-left: 45px;
	}

	.titlebar-options span {
		display: none;
	}


	.mobile-menu {
		display: block;
		color: #d7d7d7;
	}

	.titlebar-right svg {
		display: none;
	}

	.menu-container{
		padding: 4px;
	}
	.menu-top{
		gap: 0;
		// overflow-x: scroll;
	}

	.menu-bottom {
		position: fixed;
	}

}


@media only screen and (max-width: 767.98px) {
	body {
		font-size: 0.875rem;
	}
}

@media only screen and (max-width: 370px) {

	.titlebar-options span,
	.search-bar {
		display: none;
	}


	.mobile-menu {
		display: block;
		color: #d7d7d7;
	}

	.menu-container{
		padding: 4px;
	}

	.menu-top{
		gap: 0;
		overflow-x: scroll;
	}

}