/*============================

1. General
2. Sidebar
3. Titlebar

========================================*/

/*-----------------
	1. General
-----------------------*/

@font-face {
	font-family: 'Droid Sans Mono';
	src: url('https://fonts.googleapis.com/css2?family=Droid+Sans+Mono');
	font-weight: normal;
	font-style: normal;
  }


html {
	height: 100%;
}
body {
	font-family: 'Segoe WPC', 'Segoe UI', sans-serif;
	font-size: .9375rem;
	color: #1f1f1f;
	background-color: #1f1f1f;
	min-height: 100%;
	overflow-x: hidden;

}

/*-----------------
	2. Sidebar
-----------------------*/
.sidebar {
    background-color: #000;
    border-right: 0.5px solid #2b2b2b;
    bottom: 0;
    left: 0;
    margin-top: 0;
    position: fixed;
    top: 30px;
    transition: all 0.2s ease-in-out 0s;
    width: 230px;
    z-index: 1001;
}
.sidebar.opened {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.sidebar-menu li a:hover {
	color: #fff;
}
.sidebar-menu li.active a {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.2);
}
.sidebar-menu ul ul a.active {
	color: #00c5fb;
	text-decoration: underline;
}
.sidebar-menu .menu-arrow {
	-webkit-transition: -webkit-transform 0.15s;
	-o-transition: -o-transform 0.15s;
	transition: transform .15s;
	position: absolute;
	right: 15px;
	display: inline-block;
	font-family: 'FontAwesome';
	text-rendering: auto;
	line-height: 40px;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	line-height: 18px;
	top: 11px;
}
.sidebar-menu .menu-arrow:before {
  content: "\f105";
}
.sidebar-menu ul ul a .menu-arrow {
	top: 6px;
}



.mini-sidebar {
    width: 60px;
}
.mini-sidebar.expand-menu .sidebar {
    width: 230px;
}
.mini-sidebar.expand-menu {
    width: 230px;
}
.sidebar-left{
    width: 60px;
    // top: 0;
    // bottom: 0;
    position:fixed;
    border-right: 1px solid #2b2b2b;
}
.sidebar-right{
    width: 170px;
    margin-left: 60px;
    // top: 0;
    // bottom: 0;
    position:fixed;
    border-right: 1px solid #2b2b2b;
}
.hide-sidebar{
    display: none;
    transition: all 0.2s ease-in-out 0s;
}


.sidebar-overlay {
	display: none;
	position: fixed;
	z-index: 90;
	height: 100%;
	left: 0;
	top: 60px;
	width: 100%;
	z-index: 1040;
	background-color: rgba(0, 0, 0, 0.6);
}
.sidebar-overlay.opened {
	display: block;
}
/*-----------------
3. Titlebar
------------------------*/


.titlebar {
    position: fixed;
    top: 0;
	left: 0;
    height: 30px;
    border-bottom: 0.5px solid #2b2b2b;
	width: 100%;
	display: flex;
}

.titlebar-left {
    width: 30%;
}
.titlebar-right {
    width: 30%;
}
.titlebar-center {
    width: 40%;
}
/*-----------------
4. Content
------------------------*/

.page-wrapper {
	left: 0;
	margin-left: 230px;
	padding-top: 60px;
	position: relative;
	transition: all 0.2s ease-in-out;
}

@media only screen and (min-width: 991px) {
    .sidebar-open .page-wrapper{
        margin-left: 60px;
    }
    
}


@media screen and (max-width: 767px) {
    .page-wrapper  {
    margin-left: 0px ;
}

@media only screen and (max-width: 767.98px) {
    body {
        font-size: 0.875rem;
    }
}
  }