.content-box {
    margin: 0 auto;
    max-width: 480px;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}
.content-box h1 {
    color: #ff9b44;
    font-size: 10em;
}
.content-box p {
    margin-bottom: 30px;
}


.contact-button {
    padding: 0.5rem 1rem;
    border: 2px solid;
    border-radius: 4px;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: #0d6efd;
    color: white;
    transform: translateY(-3px); /* Lift the button on hover */
  }